---
layout: layout.vto
title: Gallery
---

<section>
    <h1>Gallery</h1>

    <p>Fun fact: all of these projects were made on Hopscotch in one day, when I was much younger.</p>

    <p>The exception is Yukon, which was far more challenging to develop due to its use of custom graphics,
    as well as having been developed primarily on an iPhone.
    Yukon was crunched out in about a week for the Hopscotch Seed Developer Program.</p>

    <p>Most of my best projects were made in late 2016/early 2017.
    Before then, I'd learned a lot about Hopscotch through remixing and socializing with other Hopscotchers.</p>

    <p><i>These statistics were last updated in June 2025.</i></p>
</section>

<section>
    <h2>Featured Games</h2>

    <div class="gallery">
        {{ comp.project({"name": "Yukon", "href": "https://c.gethopscotch.com/p/11k4wuoq1p", "img": "/img/gallery/11k4wuoq1p.png", "date": "April 30, 2021", "likes": 2261, "plays": 67104}) }}
        {{ comp.project({"name": "Lightrail", "href": "https://c.gethopscotch.com/p/xqw8ay374", "img": "/img/gallery/xqw8ay374.png", "date": "January 13, 2016", "likes": 7271, "plays": 184753, "wide": true}) }}
        {{ comp.project({"name": "Movelogger", "href": "https://c.gethopscotch.com/p/xs7z42v76", "img": "/img/gallery/xs7z42v76.png", "date": "February 01, 2016", "likes": 2895, "plays": 42588, "wide": true}) }}
    </div>
</section>

<section>
    <h2>Best Art</h2>

    <div class="gallery">
    {{ comp.project({"name": "Infinity Bubble", "href": "https://c.gethopscotch.com/p/yjj41xsjd", "img": "/img/gallery/yjj41xsjd.png", "date": "February 12, 2017", "likes": 138, "plays": 294}) }}
    {{ comp.project({"name": "Equalizer-Style Logo!", "href": "https://c.gethopscotch.com/p/yhhz9hthj", "img": "/img/gallery/yhhz9hthj.png", "date": "January 15, 2017", "likes": 142, "plays": 650}) }}
    {{ comp.project({"name": "Hexarainbeam", "href": "https://c.gethopscotch.com/p/y9mkthkjx", "img": "/img/gallery/y9mkthkjx.png", "date": "December 25, 2016", "likes": 190, "plays": 639}) }}
    {{ comp.project({"name": "Cool Colors Challenge!", "href": "https://c.gethopscotch.com/p/ygk0pechi", "img": "/img/gallery/ygk0pechi.png", "date": "January 02, 2017", "likes": 160, "plays": 308}) }}
    {{ comp.project({"name": "<3", "href": "https://c.gethopscotch.com/p/ygmd1c8bw", "img": "/img/gallery/ygmd1c8bw.png", "date": "January 15, 2017", "likes": 141, "plays": 139}) }}
    {{ comp.project({"name": "Rainbow Sin Wave 3!", "href": "https://c.gethopscotch.com/p/xst36ng2e", "img": "/img/gallery/xst36ng2e.png", "date": "February 09, 2016", "likes": 189, "plays": 544, "wide": true}) }}
    {{ comp.project({"name": "Woah!", "href": "https://c.gethopscotch.com/p/xs55lvt0q", "img": "/img/gallery/xs55lvt0q.png", "date": "January 30, 2016", "likes": 138, "plays": 420, "wide": true}) }}
    {{ comp.project({"name": "Full 3D Spiral!! [Test]", "href": "https://c.gethopscotch.com/p/xrpv283kv", "img": "/img/gallery/xrpv283kv.png", "date": "January 25, 2016", "likes": 198, "plays": 657, "wide": true}) }}
    {{ comp.project({"name": "Fire vs. Water Insta-load BG!", "href": "https://c.gethopscotch.com/p/xqw5obve9", "img": "/img/gallery/xqw5obve9.png", "date": "January 13, 2016", "likes": 86, "plays": 406, "wide": true}) }}
    {{ comp.project({"name": "Redstone Pixel Art!", "href": "https://c.gethopscotch.com/p/xo86453lk", "img": "/img/gallery/xo86453lk.png", "date": "January 12, 2016", "likes": 119, "plays": 202, "wide": true}) }}
    {{ comp.project({"name": "Orbiter", "href": "https://c.gethopscotch.com/p/xny02xwgf", "img": "/img/gallery/xny02xwgf.png", "date": "December 03, 2015", "likes": 22, "plays": 56, "wide": true}) }}
    {{ comp.project({"name": "Orbiter v2", "href": "https://c.gethopscotch.com/p/xny2f406i", "img": "/img/gallery/xny2f406i.png", "date": "December 03, 2015", "likes": 22, "plays": 36, "wide": true}) }}
    </div>
</section>